language: objective-c
osx_image: xcode9.1
install:
    - gem install cocoapods --pre --no-rdoc --no-ri --no-document --quiet
    - gem install xcpretty
    - gem install xcpretty-travis-formatter
script:
    - export LC_ALL=en_US.UTF-8
    - set -o pipefail && xcodebuild clean -project ContextLabel.xcodeproj  -scheme ContextLabel CODE_SIGNING_REQUIRED=NO | xcpretty -f `xcpretty-travis-formatter`
    - set -o pipefail && xcodebuild test -project ContextLabel.xcodeproj -scheme ContextLabel -destination 'platform=iOS Simulator,name=iPhone 6s,OS=11.1' CODE_SIGNING_REQUIRED=NO | xcpretty -f `xcpretty-travis-formatter`
notifications:
  email:
on_success: never